<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "TrackChanges for Google Chrome™" %></title>
    <%= stylesheet_link_tag "site" %>
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <%= javascript_include_tag "site" %>
    <link rel="canonical" href="<%= current_url %>"/>
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/apjhnklilfgkagjmiklcffnaggponkdc">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
